{% extends "base.htm" %}

{% load i18n %}

{% block content %}
<h1>{{ category }}</h1>
<p>{% trans "Pages in this category:" %}</p>
<ul>
	{% for page in pages %}
	<li>
		<a href="{% url wiki:page path=page.obj.name lang=language %}">{{ page.obj.name }}</a>{% if page.langs %} ({% trans "Also available in:" %} {% for short,long in page.langs %}<a href="{% url wiki:page path=page.obj.name lang=short %}">{% trans long %}</a>{% if not forloop.last %}, {% endif %}{% endfor %}){% endif %}
	</li>
	{% endfor %}
</ul>
{% endblock %}
