{% extends "base.htm" %}

{% block content %}
<div class="item">
  <h1>{% if page %}Edit{% else %} Create{% endif %} {{ page_name }}</h1>
  <form method="post" action=".">
    <!-- What do we do with name? Do we allow that to be changed -->
    <p>
      You may use bbcode-style formatting on this page. See the <a href="{% url bbhelp %}">documentation</a> of the bbcode tags supported on this site.
    </p>
    {% if form.content.errors %}
    <ul class="error">
      {% for error in form.content.errors %}
        <li><strong>{{ error|escape }}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    <p>
      {{ form.content }}
    </p>
    {% if form.categories.errors %}
    <ul class="error">
      {% for error in form.categories.errors %}
        <li><strong>{{ error|escape }}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    <p>
      {{ form.categories }}
    </p>
    {% if form.language.errors %}
    <ul class="error">
      {% for error in form.language.errors %}
        <li><strong>{{ error|escape }}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    <p>
      {{ form.language }}
    </p>
    <p>
      <input type="submit" value="Save" />
    </p>
  </form>
</div>
{% endblock %}
