{% extends "base.htm" %}

{% load wiki bbcode %}

{% block content %}
<div class="item">
  <h1>{% if translate %}Translate {% else %}{% if create %}Edit{% else %} Create{% endif %}{% endif %} {{ path }}</h1>
  <form method="post" action="{% if translate %}{% url wiki:translate lang=language path=path %}{% else %}{% url wiki:edit lang=language path=path %}{% endif %}">
    <!-- What do we do with name? Do we allow that to be changed -->
    <p>
      You may use bbcode-style formatting on this page. See the <a href="{% url bbhelp %}">documentation</a> of the bbcode tags supported on this site.
    </p>
    {% if form.content.errors %}
    <ul class="error">
      {% for error in form.content.errors %}
        <li><strong>{{ error|escape }}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if translate %}
    <p>
      <h3>Original</h3>
      {% bbcode translate.content %}
    </p>
    {% endif %}
    <p>
      {{ form.content }}
    </p>
    {% if form.categories.errors %}
    <ul class="error">
      {% for error in form.categories.errors %}
        <li><strong>{{ error|escape }}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    <p>
      {{ form.categories }}
    </p>
    {% if translate %}
      {% if form.language.errors %}
      <ul class="error">
        {% for error in form.language.errors %}
          <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
      </ul>
      {% endif %}
      <p>
        {{ form.language }}
      </p>
    {% endif %}
    <p>
      <input type="submit" value="Save" />
    </p>
  </form>
</div>
{% endblock %}
