{% extends "base.htm" %}

{% load bbcode wiki i18n %}

{% block content %}
<h1><a href="{% url wiki:page path=content.page.name lang=language %}">{{ content.page.name }}</a> - {{ content.postdate }}</h1>
<p class="date">{% blocktrans with content.author.username as username %}by {{ username }}{% endblocktrans %}</p>
<div class="content">{% bbcode content.content %}</div>

<h2>{% trans "Source" %}</h2>
<div class="content">{% bbcode content.source %}</div>

{% call content.get_prev language as prev %}
{% if prev %}
<p class="left">
	<span>&laquo;</span> <a href="{% url wiki:history path=content.page.name lang=language dt=prev.get_dt %}">{% blocktrans with prev.postdate as postdate and prev.author.username as username %}Previous <span>version from {{ postdate }} by {{ username }}</span>{% endblocktrans %}</a>
</p>
{% endif %}
{% call content.get_next language as next %}
{% if next %}
<p class="right">
	<a href="{% url wiki:history path=content.page.name lang=language dt=next.get_dt %}">{% blocktrans with next.postdate as postdate and next.author.username as username %}Next <span>version from {{ postdate }} by {{ username }}</span>{% endblocktrans %}</a> <span>&raquo;</span>
</p>
{% endif %}
{% endblock %}
