{% extends "base.htm" %}

{% load wiki i18n %}

{% block content %}
<div class="item">
  {% url wiki:page lang=language path=page.name as pageurl %}
  <h1>{% blocktrans with pagurl as url and page.name as pagename %}History of <a href="{{ url }}">{{ pagename }}</a></h1>
  <ul>
  {% call page.get_versions language as versions %}
  {% for version in versions %}
    <li><a href="{% url wiki:history path=page.name lang=language dt=version.get_dt %}">{% blocktrans with version.postdate as postdate and version.author.username as username %}{{ postdate }} by {{ username }}{% endblocktrans %}</a></li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
