{% extends "base.htm" %}

{% load bbcode wiki %}

{% block content %}
<div class="item">
    <h1><a href="{% url wiki:page path=content.page.name lang=language %}">{{ content.page.name }}</a> - {{ content.postdate }}</h1>
    <div class="descr">by {{ content.author.username }}</div>
    {% bbcode content.content %}
    <h3>Source</h3>
    {% bbcode content.source %}
    {% call content.get_next language as next %}
    {% if next %}
      <div class="descr" style="float:left">
        &laquo;<a href="{% url wiki:history path=content.page.name lang=language dt=next.get_dt %}">Next version from {{ next.postdate }} by {{ next.author.username }}</a>
      </div>
    {% endif %}
    {% call content.get_prev language as prev %}
    {% if prev %}
      <div class="descr" style="float:right">
        <a href="{% url wiki:history path=content.page.name lang=language dt=prev.get_dt %}">Previous version from {{ prev.postdate }} by {{ prev.author.username }}</a>&raquo;
      </div>
    {% endif %}
</div>
{% endblock %}
