{% extends "base.htm" %}

{% load wiki i18n %}

{% block content %}
{% url wiki:page lang=language path=page.name as pageurl %}
<h1>{% blocktrans with pageurl as pageurl and page.name as pagename %}History of <a href="{{ pageurl }}">{{ pagename }}</a>{% endblocktrans %}</h1>
<ul>
	{% call page.get_versions language as versions %}
	{% for version in versions %}
	<li><a href="{% url wiki:history path=page.name lang=language dt=version.get_dt %}"><span>{% blocktrans with version.postdate as postdate and version.author.username as username %}{{ postdate }}</span> by {{ username }}{% endblocktrans %}</a></li>
	{% endfor %}
</ul>
{% endblock %}
