{% extends "base.htm" %}

{% load bbcode wiki i18n %}

{% block sidenav %}
{% if not is_download %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block content %}
<div class="item">
  <h1>{{ page.name }}</h1>
  <div class="descr">
  {% blocktrans with page.content.postdate as postdate and page.content.author.username as username %} Version from {{ postdate }} by {{ username }}{% endblocktrans %}{% if not is_download %} | <a href="{% url wiki:history-overview path=page.name lang=language %}">{% trans "history" %}</a> | {% if user.is_authenticated %}<a href="{% url wiki:edit path=page.name lang=language %}">{% trans "edit" %}</a>{% else %}<a href="{% url auth_login %}">{% trans "login to edit this page" %}</a>{% endif %}{% endif %}
  </div>
  {% call page.get_content language as content %}
  {% bbcode content.content %}
  {% if not is_download %}
  <div class="descr">
    {% trans "View page in:" %} {% for short, long in page.get_available_languages %}{% ifnotequal language short %}<a href="{% url wiki:page path=page.name lang=short %}">{% trans long %}</a>{% else %}{% trans long %}{% endifnotequal %}{% if not forloop.last %},{% endif %}{% endfor %} {% url wiki:translate path=page.name lang=language as transurl %}{% blocktrans with transurl as url %}or <a href="{{ url }}">translate it</a>!{% endblocktrans %}
  </div>
  {% endif %}
  <div class="descr">
    {% trans "Categories:" %} {% for category in page.get_category_list %}<a href="{% url wiki:category category=category lang=language %}">{{ category }}</a>{% if not forloop.last %},{% endif %}{% endfor %} 
  </div>
</div>
{% endblock %}
