{% extends "base.htm" %}

{% load gauth i18n %}

{% block content %}
<form action="." method="post" class="frm">
<h1>{% trans "Config Title" %}</h1>
<div id="config">
	<p>
	{% if config %}
		<input type="text" id="cfgname" name="cfgname" value="{{ config.name }}" disabled="disabled" />
	{% else %}
		<input type="text" name="cfgname" id="cfgname" value="Config Name" />
	{% endif %}
	</p>
</div>

<br />
<hr />
<p>&nbsp;</p>

<h1>{% trans "Player Management" %}</h1>
<div id="players_div">
	<ul id="players">
		<li id="player_adder" class="players_input">
			<input type="text" id="new_player_name" value="Name" />
			<input type="text" id="new_player_steamid" value="STEAM_1:2:3457890" />
			<input type="button" id="new_player_button" value="{% trans "Add Player" %}" />
			<span id="steamid_error" class="hidden error">{% trans "Invalid Steamid" %}</span>
		</li>
	</ul>
</div>

<br />
<hr />
<p>&nbsp;</p>

<div style="position:relative; left:0; top:0; width:100%;">
<div style="position:absolute; right:0; top:0; width:350px;">
<h1>{% trans "Add Custom Flags" %}</h1>
<div id="custom_flags">
	<p>
		<input type="text" value="" name="custom_flag_field" id="custom_flag_field" /> 
		<input type="button" id="custom_flag_button" value="{% trans "Add Custom Flag" %}" />
	</p>
</div>
</div>

<h1>{% trans "Group Management" %}</h1>
<div id="groups">
	<p>
		<input type="text" id="new_group_name" value="GroupName" />
		<input type="button" id="new_group_button" value="{% trans "Add Group" %}" />
		<span id="group_error" class="hidden error">{% trans "Invalid Group Name. Only letters, numbers, underscores and dashes are allowed." %}</span>
	</p>
</div>
</div>

<div id="lastdiv">
	<p><input type="hidden" name="groups" id="groups_field" value="" /></p>
	<p><input type="submit" id="save" value="{% trans "Save" %}" /></p>
</div>
</form>
{% endblock %}
{% block javascript %}<script type="text/javascript">var gauth_flags={{ user|js_get_powers|safe }};var gauth_players={{ user|js_get_players|safe }};var gauth_groups={% if config %}{{ config|js_get_groups|safe }}{% else %}[]{% endif %};$(document).ready(function(){gauth_load();});</script>{% endblock %}
