{% extends "base.htm" %}

{% load bbcode i18n %}

{% block content %}
{% bbhelp as bbhelp %}
<h1 id="jump_to_top">{% trans "BBCode Help" %}</h1>
<ul class="orderlist clearfix">
	{% for tag in bbhelp %}
	<li><a href="#jump_{{ tag.name|slugify }}">{{ tag.name }}</a></li>
	{% endfor %}
</ul>
<p>&nbsp;</p>

{% for tag in bbhelp %}
<div class="clearfix">
	<h1 id="jump_{{ tag.name|slugify }}">{{ tag.name }}</h1>
	<p class="date"><a href="#jump_to_top"><span>&raquo;</span> {% trans "Jump to top" %}</a></p>
	<div class="content">{{ tag.docstring|safe }}</div>
</div>
<hr />
{% endfor %}
{% endblock %}
