{% extends "wiki/downloadable/base.htm" %}

{% load bbcode wiki i18n %}

{% block content %}
<div class="item">
  <h1>{{ page.name }}</h1>
  <div class="descr">
  {% call page.get_content language as content %}
  {% blocktrans with content.postdate as postdate and content.author.username as username %} Version from {{ postdate }} by {{ username }}{% endblocktrans %}
  </div>
  {% with "lorem ipsum" as wiki_downloadable %}
  {% bbcode content.content %}
  {% endwith %}
  <div class="descr">
    {% trans "Categories:" %} {% for category in page.get_category_list %}<a href="Category-{{ category }}.html">{{ category }}</a>{% if not forloop.last %},{% endif %}{% endfor %} 
  </div>
</div>
{% endblock %}
