{% load i18n utils %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de_DE" lang="de" dir="ltr">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
	<title>{{ title }} - eXtensible Admin</title>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/css/base.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/css/modules.css" media="screen, projection" />
	{% block add_css %}{% endblock %}
	<link rel="stylesheet" type="text/css" href="/css/print.css" media="print" />
	<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="/css/ie6.css" media="screen, projection" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="/css/ie8.css" media="screen, projection" /><![endif]-->
	{% block add_meta %}{% endblock %}
	<meta name="language" content="de" />
    <meta name="description" content="EventScripts Examples" /> 
    <meta name="keywords" content="eventscripts, es, xa, python, extensible admin, admin, counter-strike source, css" /> 
	<meta name="author" content="coreshock.ch" />
	<meta name="verify-v1" content="###GOOGLE-CODE###" />
	<meta name="robots" content="index, follow" />
	<meta name="revisit" content="after 2 days" />
</head>
<body>
<div id="wrapper">
<!-- start: header -->
<div id="header" class="clearfix">
	<a href="/" id="logo">{% block bodytitle %}{{ bodytitle|default:"eXtensible Admin - The EventScript Admin Tool" }}{% endblock %}</a>
	<ul id="metanav">
		{% for lang in installed_languages %}
		<li><a href="{% url set_language lang %}"{% ifequal lang LANGUAGE_CODE %} class="active"{% endifequal %}>{{ lang }}</a></li>
		{% endfor %}
	</ul>
	<ul id="mainnav">
        <li><a href="{% url home %}"{% if not active_page %} class="active"{% endif %}>Home</a></li>
		{% url download-newest as downloadurl %}<li><a href="{{ downloadurl }}"{% ifactive downloadurl %} class="active"{% endifactive %}>Download</a></li>
		{% url wiki:home as wikiurl %}<li><a href="{{ wikiurl }}"{% ifactive wikiurl %} class="active"{% endifactive %}>Documentation</a></li>
		{% url gauth:index as gauthurl %}<li><a href="{{ gauthurl }}"{% ifactive gauthurl %} class="active"{% endifactive %}>Group Auth</a></li>
	</ul>
</div>
<!-- end: header -->

<div id="adbar"><p><span>{% trans "eXtensible <sup>Admin</sup> is a fully featured admin framework written in Python and provided with EventScripts 2.0 Beta 2. The XA core provides libraries to manage administration type modules, commands, settings, languages, menus, Auth and more - whilst custom modules provide server admins with all the functionality they could ever need (and more)!" %}</span></p></div>

<!-- start: content -->
<div id="content" class="container_12 clearfix">
	<div class="grid_9">
		{% include "breadcrumbs.htm" %}
		{% block content %}{% endblock %}
	</div>
	<div class="grid_3 omega">
		{% block sidenav %}
		<!-- box -->
		<div class="box">
			{% if user.is_authenticated %}
			<h1>{% blocktrans with user.username as username %}Welcome {{ username }}{% endblocktrans %}</h1>
			<ul>
				{% if user.is_superuser %}
				<li><a href="{% url admin:index %}"><span>&raquo;</span> {% trans "Admin Panel" %}</a></li>
				{% endif %}
				<li><a href="{% url auth_password_change %}"><span>&raquo;</span> {% trans "Change Password" %}</a></li>
				<li><a href="{% url auth_logout %}"><span>&raquo;</span> {% trans "Logout" %}</a></li>
			</ul>
			{% else %}
			<h1>{% trans "Login/Register" %}</h1>
			<form method="post" action="{% url auth_login %}" class="frm frm-login">
				<fieldset>
					<ol>
						<li>
							<label for="username">{% trans "Username" %}</label>
							<div><input type="text" class="input_text" id="username" name="username" /></div>
						</li>
						<li>
							<label for="password">{% trans "Password" %}</label>
							<div>
								<input type="password" class="input_text" id="password" name="password" />&nbsp;
								<span class="btn"><input type="submit" value="{% trans "Login" %}" /></span>
								<input type="hidden" name="next" value="{% url home %}" />
							</div>
						</li>
					</ol>
				</fieldset>
			</form>
			<p class="nospace">
				<a href="{% url registration_register %}"><span>&raquo;</span> {% trans "Register" %}</a>
				<a href="{% url auth_password_reset %}"><span>&raquo;</span> {% trans "Forgot Password?" %}</a>
			</p>
			{% endif %}
		</div>
		<!-- box -->
		<div class="box">
			<h1>{% trans "Menu" %}</h1>
			<ul>
				<li><a href="/"{% if not active_page %} class="active" {% endif %}><span>&raquo;</span> {% trans "Home" %}</a></li>
				{% for slug,title in sidebar_pages %}
                {% url static-page slug=slug as static_url %}
				<li><a href="{{ static_url }}"{% ifactive static_url %} class="active"{% endifactive %}><span>&raquo;</span> {{ title }}</a></li>
				{% endfor %}
				<li><a href="http://bitbucket.org/errant/eventscripts-xa/issues/" rel="target:blank"><span>&raquo;</span> {% trans "Bugs" %}</a></li>
				<li><a href="{{ downloadurl }}"{% ifactive downloadurl %} class="active"{% endifactive %}><span>&raquo;</span> {% trans "Download" %}</a></li>
				<li><a href="{{ wikiurl }}"{% ifactive wikiurl %} class="active"{% endifactive %}><span>&raquo;</span> {% trans "Documentation" %}</a></li>
			</ul>
		</div>
		<div class="box">
			<h1>{% trans "Tools" %}</h1>
			<ul>
				<li><a href="{% url gauth:index %}"{% ifequal active_page "groupauth" %} class="active"{% endifequal %}><span>&raquo;</span> {% trans "Group Auth" %}</a></li>
			</ul>
		</div>
		<div class="box">
			<h1>{% trans "Community" %}</h1>
			<ul>
				<li><a href="http://forums.eventscripts.com/viewforum.php?f=97" rel="target:blank"><span>&raquo;</span> {% trans "XA Forums" %}</a></li>
				<li><a href="http://addons.eventscripts.com/addons/tags/1006" rel="target:blank"><span>&raquo;</span> {% trans "Custom Modules" %}</a></li>
				{% url static-page slug="team" as team_url %}
				<li><a href="{{ team_url }}"{% ifactive team_url %} class="active"{% endifactive %}><span>&raquo;</span> {% trans "Developers" %}</a></li>
			</ul>
		</div>
		{% if sidebar_guides %}
		<div class="box">
		<h1>{% trans "Guides" %}</h1>
			<ul>
			{% for guideslug in sidebar_guides %}
				<li><a href="{% url wiki:page path=guideslug lang=language %}"><span>&raquo;</span> {{ guideslug }}</a></li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}
		<div class="box">
		<h1>{% trans "EventScripts" %}</h1>
			<ul>	
				<li><a href="http://www.eventscripts.com/" rel="target:blank"><span>&raquo;</span> {% trans "ES Wiki/Home" %}</a></li>
				<li><a href="http://www.mattie.info/cs" rel="target:blank"><span>&raquo;</span> {% trans "Download ES" %}</a></li>
				<li><a href="http://forums.eventscripts.com/" rel="target:blank"><span>&raquo;</span> {% trans "ES Forums" %}</a></li>
			</ul>
		</div>
		<div class="box">
		<h1>{% trans "Website" %}</h1>
			<ul>	
				<li><a href="http://bitbucket.org/errant/eventscripts-xa/src/tip/website/" rel="target:blank"><span>&raquo;</span> {% trans "Website Sourecode" %}</a></li>
				<li><a href="http://www.transifex.net/projects/p/xa/c/xa/" rel="target:blank"><span>&raquo;</span> {% trans "Translate Website" %}</a></li>
			</ul>
		</div>
		{% endblock %}
	</div>
</div>
<!-- end: content -->
</div>

<!-- start: footer -->
<div id="footer">
	<div class="foot clearfix">
		<span>{% blocktrans %}Copyright &copy; 2010 Jonas Obrist. Design &amp; Programming by <a href="http://www.coreshock.ch">coreshock.ch</a>{% endblocktrans %}</span>
		<ul id="footnav">
            {% url static-page slug="impressum" as impressum_url %}
			<li><a href="{{ team_url }}"{% ifequal team_url request.path %} class="active"{% endifequal %}>{% trans "Team" %}</a></li>
			<li><a href="{{ impressum_url }}"{% ifequal impressum_url request.path %} class="active"{% endifequal %}>{% trans "Impressum" %}</a></li>
		</ul>
	</div>
</div>
<!-- end: footer -->

<!-- [jsinit] -->
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/mootools/1.2.4/mootools-yui-compressed.js"></script> -->
<!--<script type="text/javascript" src="/js/base.js"></script>-->
{% for library in js_libraries %}
<script type="text/javascript" src="/js/{{ library }}.js"></script>
{% endfor %}
{% block javascript %}{% endblock %}
<!-- start: google analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
	var pageTracker = _gat._getTracker("UA-12137371-1");
	pageTracker._trackPageview();
} catch(err) {}
</script>
<!-- [/jsinit] -->
</body>
</html>
