{% load i18n %}
{% load i18n %}
<p class="pagenav align-right">
    {% if page.page.show_first %}
        <a class="first" href="{{ page.urls.first }}">&laquo; {% trans "First" %}</a>
    {% endif %}
    {% if not page.page.is_first %}
        <a class="previous" href="{{ page.urls.prev }}">&lsaquo; {% trans "Previous" %}</a>
    {% endif %}
    {% for number, url, isactive in page %}
        <a href="{{ url }}"{% if isactive %} class="active"{% endif %}>{{ number }}</a>
    {% endfor %}
    {% if not page.page.is_last %}
        <a class="next" href="{{ page.urls.next }}">{% trans "Next" %} &rsaquo;</a>
    {% endif %}
    {% if page.page.show_last %}
        <a class="last" href="{{ page.urls.last }}">{% trans "Last" %} &raquo;</a>
    {% endif %}
</p>
