{% extends "base.htm" %}

{% load bbcode i18n %}

{% block meta %}
<link rel="alternate" type="application/rss+xml" href="{% url releases-feed "rss" %}" title="eXtensible Admin releases feed (RSS)" />
<link rel="alternate" type="application/atom+xml" href="{% url releases-feed "atom" %}" title="eXtensible Admin releases feed (Atom)" />
{% endblock %}

{% block content %}
<h1>{% trans "Latest Version" %}</h1>
<p class="date">{% blocktrans with release.version as version and release.releasedate|date:"D, j M Y P" as releasedate %}Version {{ version }} released on {{ releasedate }}{% endblocktrans %}</p>
<div class="content">{% bbcode release.info %}</div>
<p>
	<a href="{{ release.file.url }}"><span>&raquo;</span> {% trans "Download" %}</a><br />
	<a href="{% url release-list %}"><span>&raquo;</span> {% trans "Older Versions" %}</a>
</p>
{% endblock %}